.emacs.d/tramp
.emacs.d/auto-save-list/
.emacs.d/elpa/
.emacs.d/eshell/
.emacs.d/url/
.emacs.d/games/
.emacs.d/image-dired

.emacs.d/ac-comphist.dat
.emacs.d/ido.last
.emacs.d/.mc-lists.el
.emacs.d/abbrev_defs

.DS_Store
*.elc
