.emacs*.d/xkcd/
.emacs*.d/irony
.emacs*.d/meghanada
.emacs*.d/tramp
.emacs*.d/auto-save-list/
.emacs*.d/elpa/
.emacs*.d/lisp/
.emacs*.d/eshell/*
!.emacs*.d/eshell/alias
.emacs*.d/url/
.emacs*.d/games/
.emacs*.d/image-dired
.emacs*.d/.org-id-locations
.emacs*.d/.cask/
.emacs*.d/projectile*
.emacs*.d/transient/

profile-dotemacs.el
package.el
.emacs*.d/custom.el
.emacs*.d/ac-comphist.dat
.emacs*.d/ido.last
.emacs*.d/.mc-lists.el
.emacs*.d/abbrev_defs
.emacs*.d/network-security.data
.emacs*.d/bookmarks
.emacs*.d/recentf
.emacs*.d/request
.emacs*.d/logview-cache.extmap

.DS_Store
*.elc
