# set convert-meta on
# set input-meta on

"\e[1;3C": forward-word
"\e[1;3D": backward-word

# search from what is typed so far
"\e[A": history-search-backward
"\e[B": history-search-forward
"\eOA": history-search-backward
"\eOB": history-search-forward

$if mode=emacs
"\ep": history-search-backward
"\en": history-search-forward
$endif

# C-r reverse-search-history (incremental)
# after that, use arrow key to select but not execute

# M-# insert-comment : save the current command as comment

# C-t transpose-chars
# M-t transpose-words
